<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="customerrepository" class="info.henryk.aop.CustomerRepositoryimpl"></bean>

    <bean id="loggingAspect" class="info.henryk.aop.LoggingAspect"></bean>

    <aop:config>
        <aop:pointcut id="allGettersFromCustomer" expression="execution(* info.henryk.aop.CustomerRepository.get* (**))"></aop:pointcut>
        <aop:aspect ref="loggingAspect">
            <aop:before method="logExecution" pointcut-ref="allGettersFromCustomer" />
            <aop:after-returning method="warnifNull"
                                 pointcut-ref="allGettersFromCustomer"
                                 returning="returnedValue"></aop:after-returning>
        </aop:aspect>
    </aop:config>
</beans>